@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Be Vietnam Pro;
    font-size: 1.6em;
}

.container {
    padding-left: 10em;
    padding-right: 10em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 2em 0;
}

nav ul li {
    list-style: none;
    display: inline;
    margin: 0 .6em;

}

nav a {
    text-decoration: none;
    color:  hsl(228, 39%, 23%);
}

nav button {
    width: 8em;
    height: 2.5em;
    border-radius: 2em;
    border: none;
    background: hsl(12, 88%, 59%);
    color: white;
    font-family: Be Vietnam Pro;
}

.banner {
    display: flex;
    align-items: center;
    padding: 7em 10em;
    background: url(./images/bg-tablet-pattern.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero {
    width: 50%;
}

.hero h1 {

    font-size: 2.5em;
    line-height: 1.3;
    color: hsl(228, 39%, 23%);
}

.hero p {
    margin: 1.5em 0;
    width: 80%;
    line-height: 1.5;
    color: hsl(227, 12%, 61%);
}


.hero button, .testimonial button {
    width: 10em;
    height: 3.5em;
    border-radius: 2em;
    border: none;
    background: hsl(12, 88%, 59%);
    color: white;
    font-family: Be Vietnam Pro;
}

.features {
    display: flex;
    padding: 2em 10em;
    /* background: url(./images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left; */
}

.first{
    width: 50%;
   
    width: 50%;
}

.first h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: hsl(228, 39%, 23%);
   
}

.first p {
    width: 80%;
    color: hsl(227, 12%, 61%);
}

.second {
    width: 50%;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.list span {
    padding: .7em 2em;
    background: hsl(12, 88%, 59%);
    border-radius: 1.5em;
    color: white;
}

.list-item {
    padding: 0 1em;
}

.list-item h3 {
    margin-bottom: 1em;
    color: hsl(228, 39%, 23%);
}

.list-item p {
    color: hsl(227, 12%, 61%);
}

.testimonial {
    padding: 2em 0;
    text-align: center;
    
}

.testimonial h4 {
    font-size: 2em;
    color: hsl(228, 39%, 23%);
    margin-bottom: 2em;
}

.testimonials {
    display: inline-flex;
    padding: 2em 0;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 2em;
    scrollbar-width: none;
}

.quote {
    background: hsl(0, 0%, 98%);
    padding: 2em;
    min-width: 400px;
    margin-right: 2em;
}

.quote img {
    margin-top: -50%;
    height: 5em;
    width: 5em;
}

.quote h5 {
    margin: 1em 0;
    font-size: 1.4em;
    color: hsl(228, 39%, 23%);
}

.quote p {
 line-height: 1.5;
 color: hsl(227, 12%, 61%);
}

.simplify {
    background: hsl(12, 88%, 59%);
    padding: 3em 10em;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.simplify h6 {
    font-size: 1.8em;
    width: 50%;
}

.simplify button {
    width: 10em;
    height: 3.5em;
    border-radius: 2em;
    border: none;
    background: white;
    color: hsl(12, 88%, 59%);
    font-weight: 700;
    font-family: Be Vietnam Pro;
}

footer {
    background: hsl(233, 12%, 13%);
    padding: 3em 10em;
    display: flex;
}

.footer-logo{
   width: 25%;
}

.footer-logo img {
    margin-right: .4em;
    margin-top: 1em;
}

.footer-links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    /* text-align: center; */
}

.logo {
    margin-bottom: 3em;
}

footer li {
    list-style: none;
    margin: .5em 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer form {
    width: 25%;
    text-align: right;
}

form input {
    width: 70%;
    height: 3em;
    border-radius: 2.5em;
    padding: 0 .5em;
    outline: none;

}

form button {
    width: 4em;
    height: 3em;
    background: hsl(12, 88%, 59%);
    outline: none;
    border: none;
    color: white;
    border-radius: 2.5em;
    font-weight: 700;
    font-family: Be Vietnam Pro;
    
}

form p {
    text-align: right;
    margin-top: 2em;
    font-size: .8em;
    color: hsl(227, 12%, 61%);
}