@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Be Vietnam Pro;
    font-size: 1.6em;
}

.container {
    padding-left: 10em;
    padding-right: 10em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 2em 0;
}

nav ul li {
    list-style: none;
    display: inline;
    margin: 0 .6em;

}

nav a {
    text-decoration: none;
    color:  hsl(228, 39%, 23%);
}

nav a:hover {
    color: hsl(227, 12%, 61%);
}

nav button {
    width: 8em;
    height: 2.5em;
    border-radius: 2em;
    border: none;
    background: hsl(12, 88%, 59%);
    color: white;
    font-family: Be Vietnam Pro;
}

.banner {
    display: flex;
    align-items: center;
    padding: 7em 10em;
    background: url(./images/bg-tablet-pattern.svg);
    
    background-position-y: -110%;
    background-position-x: 110%;
    background-repeat: no-repeat;
    background-size: 50%;
}

.hero {
    width: 50%;
}

.hero-image {
    width: 50%;
}

.hero-image img {
    width: 100%;
    object-fit: fill;
}

.toggle {
    display: none;
}

.hero h1 {

    font-size: 2.5em;
    line-height: 1.3;
    color: hsl(228, 39%, 23%);
}

.hero p {
    margin: 1.5em 0;
    width: 80%;
    line-height: 1.5;
    color: hsl(227, 12%, 61%);
}


.hero button, .testimonial button {
    width: 10em;
    height: 3.5em;
    border-radius: 2em;
    border: none;
    background: hsl(12, 88%, 59%);
    color: white;
    font-family: Be Vietnam Pro;
}

.hero button:hover, .testimonial button:hover, nav button:hover, form button:hover {
    /* background: hsl(13, 100%, 96%); */
    opacity: 0.7;
}

.features {
    display: flex;
    padding: 2em 10em;
    background: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 0%;
    background-position-x: -40%;
}

.first{
    width: 50%;
   
    width: 50%;
}

.first h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: hsl(228, 39%, 23%);
   
}

.first p {
    width: 80%;
    color: hsl(227, 12%, 61%);
}

.second {
    width: 50%;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.list span {
    padding: .7em 2em;
    background: hsl(12, 88%, 59%);
    border-radius: 1.5em;
    color: white;
    font-weight: 700;
    font-family: Be Vietnam Pro;
}

.list-item {
    padding: 0 1em;
}

.list-item h3 {
    margin-bottom: 1em;
    color: hsl(228, 39%, 23%);
}

.list-item p {
    color: hsl(227, 12%, 61%);
}

.testimonial {
    padding: 2em 0;
    text-align: center;
    
}

.testimonial h4 {
    font-size: 2em;
    color: hsl(228, 39%, 23%);
    margin-bottom: 2em;
}

.testimonials {
    display: inline-flex;
    padding: 2em 0;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 2em;
    scrollbar-width: none;
}

.quote {
    background: hsl(0, 0%, 98%);
    padding: 2em;
    min-width: 400px;
    margin-right: 2em;
}

.quote img {
    margin-top: -50%;
    height: 5em;
    width: 5em;
}

.quote h5 {
    margin: 1em 0;
    font-size: 1.4em;
    color: hsl(228, 39%, 23%);
}

.quote p {
 line-height: 1.5;
 color: hsl(227, 12%, 61%);
}

.simplify {
    background: hsl(12, 88%, 59%);
    padding: 3em 10em;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.simplify h6 {
    font-size: 1.8em;
    width: 50%;
}

.simplify button {
    width: 10em;
    height: 3.5em;
    border-radius: 2em;
    border: none;
    background: white;
    color: hsl(12, 88%, 59%);
    font-weight: 700;
    font-family: Be Vietnam Pro;
}

footer {
    background: hsl(233, 12%, 13%);
    padding: 3em 10em;
    display: flex;
}

.footer-logo{
   width: 25%;
}

.footer-logo img {
    margin-right: .4em;
    margin-top: 1em;
}

.footer-links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    /* text-align: center; */
}

.logo {
    margin-bottom: 3em;
}

footer li {
    list-style: none;
    margin: .5em 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: hsl(12, 88%, 59%);
}

footer form {
    width: 25%;
    text-align: right;
}

form input {
    width: 70%;
    height: 3em;
    border-radius: 2.5em;
    padding: 0 .5em;
    outline: none;

}

form button {
    width: 4em;
    height: 3em;
    background: hsl(12, 88%, 59%);
    outline: none;
    border: none;
    color: white;
    border-radius: 2.5em;
    font-weight: 700;
    font-family: Be Vietnam Pro;
    
}

form p {
    text-align: right;
    margin-top: 2em;
    font-size: .8em;
    color: hsl(227, 12%, 61%);
}

@media (max-width:1024px) {
    .container {
        padding: 2em 5em;
    }

    .banner, .simplify {
        padding: 5em;
    }

    .features, footer {
        padding: 2em 5em;
    }
}

@media (max-width:768px) {
   .container {
        padding: 1em 2em;
    }

    .logopen {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .toggle {
        display: block;
    }

    nav {
        display: block;
        background: rgba(0,0, 0, .2);
    }

    .banner {
        padding: 0;
        flex-direction: column-reverse;
        background: unset;
        /* background:; */
    }



    nav button {
        display: none;
    }

    .mobile {
        background: white;
        text-align: center;
        padding: 2em;
        margin-top: 2em;
        width: 100%;
        display: none;

    }

    .list div {
        margin-bottom: 1em;
    }

    nav ul li {
        display: block;
        /* margin: 1em 0; */
        padding: 1em;
        font-weight: 700;
    }

    .hero, .hero-image {
        width: 100%;
        text-align: center;
        padding: 3.5em 2em;
    }

    .hero p{
        width: 100%;
    }

    .hero-image {
        background:  url("./images/bg-tablet-pattern.svg");
        /* background-repeat: no-repeat; */
        background-position: 60%;
        background-size: contain;
    }

    .hero-image img {
        object-fit: cover;
        width: 100%;
    }

    .features {
        display: block;
        padding: 4em 2em;
        /* text-align: center; */
    }

    .list-item {
        padding: 1em 0;
    }

    .first, .second{
        width: 100%;
       
    }

    .first {
        text-align: center;
        margin-bottom: 2em;
    }

    .first p {
        width: 90%;
    }

    .list {
        flex-direction: row;
        padding: unset;
        display: block;
    }

    /* h3 {
        background:  hsl(13, 100%, 96%);
    } */

    .simplify {
        padding: 4em;
        display: block;
        text-align: center;
    }

    .simplify h6 {
        width: 100%;
        margin-bottom: 1em;
    }

    footer {
        position: relative;
        flex-direction: column-reverse;
        padding: 2em;
        text-align: center;
    }

    footer form, .footer-links, .footer-logo {
        width: 100%;
    }

    footer form {
        text-align: center;
    }

    footer form p {
        position:absolute;
        bottom: 1em;
        right: 2em;
    }

    .footer-links {
        justify-content: space-between;
        margin: 2em 0;
    }
}

@media (max-width:600px) {
    .hero h1 {
        font-size: 2em;
       
    }

    .testimonials::-webkit-scrollbar {
        display: none;
    }

    .simplify {
        padding: 4em 2em;
    }

}